<ion-header *ngIf="user | async as user">
    <ion-toolbar>
        <ion-title (click)="openUserPopOver($event)">{{user.username}}</ion-title>
        <ion-item slot="end" lines="none">Level {{user.level}}</ion-item>
        <!-- <ion-item slot="end" lines="none" class="ion-text-capitalize">{{user.subscription.type}}</ion-item> -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-menu-toggle autoHide="false">
        <ion-item [routerLink]="['/user']">
            <ion-label>Advanced User Info</ion-label>
        </ion-item>
    </ion-menu-toggle>
</ion-content>
 