<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="summary | async as summary">
        <ion-list>
            <ion-list-header>Available</ion-list-header>
            <ion-item>
                <ion-label>Lessons</ion-label>
                <ion-badge slot="end">{{summary.lessons[0].subject_ids.length}}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label>Reviews</ion-label>
                <ion-badge slot="end">{{summary.reviews[0].subject_ids.length}}</ion-badge>
            </ion-item>
        </ion-list>
    
        <ion-list>
            <ion-list-header>Upcoming Reviews</ion-list-header>
            <ng-container *ngFor="let review of summary.reviews | slice:1">
                <ion-item *ngIf="review.subject_ids.length > 0">
                    <ion-label>{{review.available_at | date:'h a'}}</ion-label>
                    <ion-badge slot="end">{{review.subject_ids.length}}</ion-badge>
                </ion-item>
            </ng-container>
        </ion-list>
    </ng-container>
</ion-content>
